[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
ipywidgets = "*"
pandas = "*"
pymysql = "*"
tqdm = "*"
pytimeparse = "*"
simplejson = "*"
slugify = "*"
tabulate = "*"
doger = "*"
environs = "*"
click = "*"
click-help-colors = "*"

[requires]
python_version = "3.7"
